:root {
  --primary-gradient: linear-gradient(
    45deg,
    #ef9516 0%,
    #e71212 33%,
    #ee419a 66%,
    #ee04ee 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  background-color: #1a0b2e;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.gradient-color {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.btn-1 {
    font-size: 1.05rem;
  padding: 12px 25px;
  background: var(--primary-gradient);
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.1s linear;
}

.btn-1:hover {
  opacity: 0.8;
}

/* Header Section */
.navbar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 45px;
  padding: 15px 0;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links .nav-link {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #3f117b;
}
